:root {
  --navy: #0a1936;
  --teal: #ffffff;
  --teal-light: #178b78;
  --yellow: #3cff00;
  --main-bg-color: rgb(143, 89, 70);
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Georgia, 'Times New Roman','Segoe UI';
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


body {
  padding: 1rem;
  background: var(--navy);
  color: white;
}

a {
  color: var(--teal-light);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--teal);
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.text-xs {
  font-size: 1.2rem;
}
.text-sm {
  font-size: 1.4rem;
}

.text-base {
  font-size: 1.6rem;
}

.text-lg {
  font-size: 1.8rem;
}

.text-xl {
  font-size: 2rem;
}

h1,h2,h3,h4 {
  color: var(--yellow);
}
